<div class="container">
  <h1>Crear Asignatura</h1>
  <div class="row">
    <div class="col-md-6">
      <form >
        <div class="form-group">

          <label for="name">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="autor.nombre" name="nombre"  >
        </div>
        <div class="form-group">
          <label for="name">Curso</label>
          <input type="text" class="form-control" [(ngModel)]="autor.curso" name="curso"  >
        </div>
        <div class="form-group">
          <label for="name">Cuatrimestre</label>
          <input type="text" class="form-control" [(ngModel)]="autor.cuatrimestre" name="cuatrimestre"  >
        </div> 

        <div class="form-group">
          <button  (click)="saveAutor()" class="btn btn-success" [disabled]="!autorForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
